# Dependencias
/vendor
/node_modules

# Archivos compilados
/public/hot
/public/storage
/storage/*.key

# Logs y caché
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/bootstrap/cache

# Entorno
.env
.env.backup
.env.production

# Testing
.phpunit.result.cache
/coverage

# IDEs
.idea
.vscode
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Laravel Homestead
Homestead.json
Homestead.yaml

# Logs de npm/yarn
npm-debug.log
yarn-error.log
